.row{
 
    margin-left: 28px;
    color: #fff;
    margin-bottom: 50px;
}
.posters::-webkit-scrollbar{
    display: none;

}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    object-fit: contain;
}
.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    transition: transform .3s;
    object-fit: contain;
}
.smallPoster{
    cursor: pointer;
    max-height: 150px;
    width: 100%;
        margin-right: 10px;
            transition: transform .3s;



}

.poster:hover,.smallPoster:hover{
    transform: scale(1.03);
}